<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TourTide-About</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("./layouts/topbar") %> <%- include("./layouts/navbar") %> <%-
    include("./layouts/flash") %>

    <!-- Header Start -->
    <div class="container-fluid page-header">
      <div class="container">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="min-height: 400px"
        >
          <h3 class="display-4 text-white text-uppercase">Booking Page</h3>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Tour Overview -->
    <div class="container-fluid py-5">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-6" style="min-height: 500px">
            <div class="position-relative h-100">
              <div
                id="header-carousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <% tour.image.forEach((imageFilename, index) => { %>
                  <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <img
                      class="d-block w-100 rounded"
                      src="/<%= imageFilename %>"
                      alt="Image"
                    />
                  </div>
                  <% }); %>
                </div>

                <a
                  class="carousel-control-prev"
                  href="#header-carousel"
                  data-slide="prev"
                >
                  <div class="btn btn-dark" style="width: 45px; height: 45px">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                  </div>
                </a>
                <a
                  class="carousel-control-next"
                  href="#header-carousel"
                  data-slide="next"
                >
                  <div class="btn btn-dark" style="width: 45px; height: 45px">
                    <span class="carousel-control-next-icon mb-n2"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Tour Details -->
          <div class="col-lg-6 pt-5 pl-5 pb-lg-5">
            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
              <h3
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              >
                <%= tour.place %>
              </h3>
              <p><%= tour.description %></p>
              <h4
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              >
                <%= schedule.groupName %>
              </h4>
              <p>
                <strong>Schedule:</strong>
                <%= new Date(schedule.startDate).toLocaleDateString() %> to <%=
                new Date(schedule.endDate).toLocaleDateString() %> (<%=
                schedule.duration %> Days)
              </p>
              <p>
                <strong>Slots Left:</strong> <%= schedule.availableSlots -
                schedule.bookedSlots %>
              </p>

              <h5>Booking for <%= user.name %></h5>
              <a href="#book" class="btn btn-primary mt-1">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Schedule Summary -->
    <div class="container-fluid mb-5">
      <div class="container bg-white shadow p-4">
        <h4 class="text-center mb-4 text-success">Package Summary</h4>
        <% if (summary && summary.day && summary.daySummary) { %>
        <ul class="list-group mb-3">
          <% for (let i = 0; i < summary.day.length; i++) { %>
          <li class="list-group-item">
            <strong><%= summary.day[i] %>:</strong> <%= summary.daySummary[i] %>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>

    <!-- Booking Form -->
    <div class="container-fluid">
      <div class="container bg-light p-4 shadow">
        <form
          action="/book/<%= tour._id %>?scheduleIndex=<%= scheduleIndex %>"
          method="POST"
          novalidate
          id="book"
        >
          <div class="form-group">
            <label for="personNumber">Person Number</label>
            <input
              type="Number"
              id="personNumber"
              name="personNumber"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="childNumber">Child Number</label>
            <input
              type="Number"
              id="childNumber"
              name="childNumber"
              class="form-control"
              required
            />
          </div>

          <button type="submit" class="btn btn-lg btn-info btn-block mt-4">
            Confirm Booking
          </button>
        </form>
      </div>
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
