<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="au theme template" />
    <meta name="author" content="Hau Nguyen" />
    <meta name="keywords" content="au theme template" />

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all" />
    <link
      href="vendor/font-awesome-5/css/fontawesome-all.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Bootstrap CSS-->
    <link
      href="vendor/bootstrap-4.1/bootstrap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Vendor CSS-->
    <link
      href="vendor/animsition/animsition.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all" />
    <link
      href="vendor/css-hamburgers/hamburgers.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all" />
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="vendor/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all" />
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('./layouts/adminHeaderMobile') %> <%-
      include('./layouts/adminSidebar') %>

      <div class="page-container">
        <%- include('./layouts/adminHeader') %>

        <div class="main-content">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="card">
                <div class="card-header">Create Daily Food Plan</div>
                <div class="card-body">
                  <form action="/admin/foods" method="POST">
                    <% const mealTypes = ['breakfast', 'lunch', 'snack',
                    'dinner']; %> <% mealTypes.forEach(meal => { %>
                    <div class="section-title text-capitalize">
                      <%= meal %> Items
                    </div>

                    <div id="<%= meal %>Items" class="item-list">
                      <div class="form-row item-row">
                        <div class="form-group col-md-5">
                          <input
                            type="text"
                            name="<%= meal %>Items[0][name]"
                            class="form-control"
                            placeholder="Item name"
                            required
                          />
                        </div>
                        <div class="form-group col-md-4">
                          <input
                            type="number"
                            name="<%= meal %>Items[0][price]"
                            class="form-control"
                            placeholder="Item price"
                          />
                        </div>
                        <div class="form-group col-md-3">
                          <button
                            class="btn btn-danger"
                            type="button"
                            onclick="removeItem(this)"
                          >
                            Remove
                          </button>
                        </div>
                      </div>
                    </div>

                    <button
                      class="btn btn-sm btn-info mb-3"
                      type="button"
                      onclick="addItem('<%= meal %>')"
                    >
                      Add <%= meal %> Item
                    </button>

                    <div class="form-group">
                      <label>Total Price</label>
                      <input
                        type="number"
                        name="<%= meal %>TotalPrice"
                        class="form-control"
                      />
                    </div>
                    <% }) %>

                    <button type="submit" class="btn btn-primary mt-3">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="js/main1.js"></script>

    <script>
      const counters = {
        breakfast: 1,
        lunch: 1,
        snack: 1,
        dinner: 1,
      };

      function addItem(meal) {
        const container = document.getElementById(`${meal}Items`);
        const index = counters[meal]++;
        const div = document.createElement("div");
        div.className = "form-row item-row";

        div.innerHTML = `
          <div class="form-group col-md-5">
            <input type="text" name="${meal}Items[${index}][name]" class="form-control" placeholder="Item name" required />
          </div>
          <div class="form-group col-md-4">
            <input type="number" name="${meal}Items[${index}][price]" class="form-control" placeholder="Item price" />
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-danger" type="button" onclick="removeItem(this)">Remove</button>
          </div>
        `;
        container.appendChild(div);
      }

      function removeItem(button) {
        const row = button.closest(".item-row");
        if (row) row.remove();
      }
    </script>
  </body>
</html>
