<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="au theme template" />
    <meta name="author" content="Hau Nguyen" />
    <meta name="keywords" content="au theme template" />

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all" />
    <link
      href="/vendor/font-awesome-5/css/fontawesome-all.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="/vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="/vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Bootstrap CSS-->
    <link
      href="/vendor/bootstrap-4.1/bootstrap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Vendor CSS-->
    <link
      href="/vendor/animsition/animsition.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all" />
    <link
      href="/vendor/css-hamburgers/hamburgers.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all" />
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all" />
  </head>

  <body class="animsition">
    <div class="page-wrapper">
      <%- include('./layouts/adminHeaderMobile') %> <%-
      include('./layouts/adminSidebar') %>

      <div class="page-container">
        <%- include('./layouts/adminHeader') %>

        <div class="main-content">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">Create Hotel</div>
                    <div class="card-body">
                      <h3 class="text-center title-2">Hotel Edit Details</h3>
                      <hr />
                      <%- include("./layouts/flash") %>

                      <form
                        action="/admin/hotelEdit/<%=data._id%>"
                        enctype="multipart/form-data"
                        method="POST"
                        novalidate
                      >
                        <div class="form-group">
                          <label for="name">Hotel Name</label>
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            value="<%= data.name %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="location">Location</label>
                          <input
                            type="text"
                            id="location"
                            name="location"
                            class="form-control"
                            value="<%= data.location %>"
                          />
                        </div>
                        <div class="form-group">
                          <label for="tour">Related Tour Place</label>
                          <select id="tour" name="tour" class="form-control">
                            <option value="" disabled selected>
                              Select a Tour
                            </option>
                            <% tours.forEach(tour => { %>
                            <option value="<%= tour._id %>">
                              <%= tour.place %> - <%= tour.address.city %>
                            </option>
                            <% }) %>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="bedRoom">Bedroom(s)</label>
                          <input
                            type="number"
                            id="bedRoom"
                            name="bedRoom"
                            class="form-control"
                            value="<%= data.bedRoom %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="hallRoom">Hall Room(s)</label>
                          <input
                            type="number"
                            id="hallRoom"
                            name="hallRoom"
                            class="form-control"
                            value="<%= data.hallRoom %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="kitchen">Kitchen(s)</label>
                          <input
                            type="number"
                            id="kitchen"
                            name="kitchen"
                            class="form-control"
                            value="<%= data.kitchen %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="bathRoom">Bathroom(s)</label>
                          <input
                            type="number"
                            id="bathRoom"
                            name="bathRoom"
                            class="form-control"
                            value="<%= data.bathRoom %>"
                          />
                        </div>

                        <h5 class="mt-4">Occupancy</h5>
                        <div class="form-group">
                          <label for="minPerson">Minimum Persons</label>
                          <input
                            type="number"
                            id="minPerson"
                            name="minPerson"
                            class="form-control"
                            value="<%= data.occupancy.minPerson %>"
                          />
                        </div>
                        <div class="form-group">
                          <label for="maxPerson">Maximum Persons</label>
                          <input
                            type="number"
                            id="maxPerson"
                            name="maxPerson"
                            class="form-control"
                            value="<%= data.occupancy.maxPerson %>"
                          />
                        </div>
                        <div class="form-group">
                          <label for="extraAdult">Extra Adults</label>
                          <input
                            type="number"
                            id="extraAdult"
                            name="extraAdult"
                            class="form-control"
                            value="<%= data.occupancy.extraAdult %>"
                          />
                        </div>
                        <div class="form-group">
                          <label for="extraChild">Extra Children</label>
                          <input
                            type="number"
                            id="extraChild"
                            name="extraChild"
                            class="form-control"
                            value="<%= data.occupancy.extraChild %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="price">Price</label>
                          <input
                            type="number"
                            id="price"
                            name="price"
                            class="form-control"
                            value="<%= data.price %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="childPrice">Child Price</label>
                          <input
                            type="number"
                            id="childPrice"
                            name="childPrice"
                            class="form-control"
                            value="<%= data.childPrice %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="accommodation">Accommodation Type</label>
                          <input
                            type="text"
                            id="accommodation"
                            name="accommodation"
                            class="form-control"
                            value="<%= data.accommodation %>"
                          />
                        </div>

                        <div class="form-group">
                          <label for="image" class="form-control-label"
                            >Upload Image</label
                          >
                          <input
                            type="file"
                            id="image"
                            name="image"
                            accept="image/*"
                            class="form-control-file"
                            multiple
                          />
                        </div>

                        <button
                          type="submit"
                          class="btn btn-lg btn-info btn-block mt-4"
                        >
                          Submit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="/js/main1.js"></script>
  </body>
</html>
